{% extends "base_template.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5><a href="global.html">{{_('Return to global report')}}</a></h5>
            </div>
        </div>
        <div class="row results">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title">{{_('Scenarios')}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="flex-wrapper center-donut">
                                    <div class="single-chart">
                                        <svg viewBox="0 0 42 42" class="donut">
                                            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                                            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="6.8"></circle>
                                            <circle class="donut-segment" data-per="{{feature.scenarios_passed_percent}}" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#21c576" stroke-width="6.8" stroke-dasharray="0 0" stroke-dashoffset="0"></circle>
                                            <circle class="donut-segment" data-per="{{feature.scenarios_failed_percent}}" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ed1919" stroke-width="6.8" stroke-dasharray="0 0" stroke-dashoffset="0"></circle>
                                             <text x="21" y="24" class="percentage">{{feature.total_scenarios}}</text>
                                      </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 center-table-card">
                                <p>{{_('Status')}}</p>
                                <p>
                                    <i class="status-passed-icon"></i>
                                    {{_('Passed')}}
                                </p>
                                <p>
                                    <i class="status-failed-icon"></i>
                                    {{_('Failed')}}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>{{_('Progress')}}</p>
                                <p>{{feature.scenarios_passed_percent}} %</p>
                                <p>{{feature.scenarios_failed_percent}} %</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title">{{_('Steps')}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="flex-wrapper center-donut">
                                    <div class="single-chart">
                                         <svg viewBox="0 0 42 42" class="donut">
                                            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                                            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="6.8"></circle>

                                             <circle class="donut-segment" data-per="{{feature.steps_passed_percent}}" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#21c576" stroke-width="6.8" stroke-dasharray="0 0" stroke-dashoffset="0"></circle>
                                             <circle class="donut-segment" data-per="{{feature.steps_failed_percent}}" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ed1919" stroke-width="6.8" stroke-dasharray="0 0" stroke-dashoffset="0"></circle>
                                             <circle class="donut-segment" data-per="{{feature.steps_skipped_percent}}" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#7ca1e3" stroke-width="6.8" stroke-dasharray="0 0" stroke-dashoffset="0"></circle>
                                             <text x="21" y="24" class="percentage">{{feature.total_steps}}</text>
                                          </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 center-table-card">
                                <p>{{_('Status')}}</p>
                                <p>
                                    <i class="status-passed-icon"></i>
                                    {{_('Passed')}}
                                </p>
                                <p>
                                    <i class="status-failed-icon"></i>
                                    {{_('Failed')}}
                                </p>
                                <p>
                                    <i class="status-skipped-icon"></i>
                                    {{_('Skipped')}}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>{{_('Progress')}}</p>
                                <p>{{feature.steps_passed_percent}} %</p>
                                <p>{{feature.steps_failed_percent}} %</p>
                                <p>{{feature.steps_skipped_percent}} %</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title">{{_('Run Info')}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                            <tr>
                                <td>{{_('Description')}}:</td>
                                <td>{{feature.description|join(" ")}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Operating system')}}:</td>
                                <td>{{feature.operating_system}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Driver')}}:</td>
                                <td>{{feature.driver}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Total Scenarios')}}:</td>
                                <td>{{feature.total_scenarios}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Total Steps')}}:</td>
                                <td>{{feature.total_steps}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Passed Steps')}}:</td>
                                <td>{{feature.steps_passed}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Failed Steps')}}:</td>
                                <td>{{feature.steps_failed}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Skipped steps')}}:</td>
                                <td>{{feature.steps_skipped}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Execution start time')}}:</td>
                                <td>{{feature.start_time|format_datetime}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Execution end time')}}:</td>
                                <td>{{feature.end_time|format_datetime}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Duration')}}:</td>
                                <td>{{feature.duration|get_duration}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Environment')}}:</td>
                                <td>{{global_data.environment}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Version')}}:</td>
                                <td>{{global_data.version}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Application')}}:</td>
                                <td>{{global_data.application}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Business area')}}:</td>
                                <td>{{global_data.business_area}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Entity')}}:</td>
                                <td>{{global_data.entity}}</td>
                            </tr>
                            <tr>
                                <td>{{_('Executed by user')}}:</td>
                                <td>{{global_data.user_code}}</td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row overview">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{_('Scenarios Overview')}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            {{_('Scenario name')}}
                                        </th>
                                        <th>
                                            {{_('Tags')}}
                                        </th>
                                        <th>
                                            {{_('Status')}}
                                        </th>
                                        <th>
                                            {{_('Total steps')}}
                                        </th>
                                        <th>
                                            {{_('Steps Passed')}}
                                        </th>
                                        <th>
                                            {{_('Steps Failed')}}
                                        </th>
                                        <th>
                                            {{_('Steps Skipped')}}
                                        </th>
                                        <th>
                                            {{_('Duration')}}
                                        </th>
                                        <th>
                                            {{_('Description')}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for scenario in feature.elements %}
                                        {% if scenario.type != "background" %}
                                            <tr>
                                            <td><a href="./scenario_{{scenario.scenario_file_name}}.html">{{scenario.name}}</a></td>
                                            <td><pre>{{scenario.tags|join('\n')}}</pre></td>
                                            <td class="text-center">
                                                <i class="status-{{scenario.status}}-icon"></i>
                                            </td>
                                            <td>{{scenario.total_steps}}</td>
                                            <td>{{scenario.steps_passed}}</td>
                                            <td>{{scenario.steps_failed}}</td>
                                            <td>{{scenario.steps_skipped}}</td>
                                            <td>{{scenario.duration|get_duration}}</td>
                                            <td>{{scenario.description|join(" ")|d('-')}}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<!--Donuts js -->
<script type="text/javascript">
    const donuts = $(".single-chart .donut");

    for (let i = 0; i<donuts.length; i++){
        let segments = $(donuts[i]).find(".donut-segment");
        // First segment's offset
        let firstSegmentOffset = parseFloat($(segments[0]).attr("stroke-dashoffset"));

        // Total of all preceding segments length
        // For use in stroke-dashoffset calculation
        let preSegmentsTotalLength = 0;
        let percentOld = 0;

        for (let j = 0; j < segments.length; j++) {
            // percentage occupied by current segment
            let percent = $(segments[j]).data("per");

            // current segments stroke-dasharray calculation
            let strokeDasharray = `${percent} ${100 - percent}`;

            // setting stroke-dasharray for all segments
            $(segments[j]).css("stroke-dasharray", strokeDasharray);
            if(j!=0){
                // current segments stroke-dashoffset calculation
                let strokeDashoffset = `${preSegmentsTotalLength - percentOld}`;

                // setting stroke-dasharray for all segments
                $(segments[j]).css("stroke-dashoffset", strokeDashoffset);

                // Updating total of all preceding segments length
                preSegmentsTotalLength = strokeDashoffset;
            }
            percentOld = percent;
        }
    }
</script>
{% endblock %}

